/* Add CSS Styling */
.odd {
	background-color: hsl(355 70 80);
	font-family: Verdana, "DejaVu Sans", sans-serief;
}

#second {
	color: blue;
	font-size: 36px;
}

.third {
	font-size: 24px;
}

#fourth {
	background-color: hsl(120 80 80);
	font-size: 24px;
	font-weight: bold;
}
