* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: .5rem;
  font-size: 16px;
}

.title {
  background: #e3f4ff;
  padding: .5rem;
  font-size: inherit;
}

.content {
  background: #e3f4ff;
  padding: .5rem;
  margin: .5rem 0;
}

.button-container {
  background: #e3f4ff;
  padding: .5rem;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: .5rem;
}
